TRIBE_NAME="YOUR_TRIBE"
TEAM_NAME="YOUR_TEAM"
SERVICE_CODE="YOUR_REPOSITORY"
SERVICE_NAME="YOUR SERVICE NAME"
JIRA_PROJECT_KEY="JIRA"
JIRA_PROJECT_ID=1
DEPLOYMENT_TEMPLATE_ID=1
DEPLOYMENT_PLAN_FOLDER_ID=1
PIPELINE_ALIAS=pipeline_name:alias_name[branch]
MAIN_BRANCH=deployment_branch